<h1>Stupid Coaching</h1>
<h3>Ask your coach anything:</h3>
<form action="/answer" method="GET">
  <input type="text" name="question" placeholder="Ask your coach.">
  <input type="submit" value="Ask!">
</form>
